*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: cursive;
    font-size: 18px;
}

a{
    text-decoration: none;
    color:black;
}

ul{
    list-style: none;

}

/*Stilul header ului*/
header{
    position:fixed;
    width: 100%;
    background-color: blue;
    text-align: center;
    z-index: 100;
    padding: 1.2em 0;
}



/*stiluri meniu*/
/*stiluri hero*/
main{
    position: relative;
    top: 170px;
}
main .hero{
    position:relative;
    background-color: black;
    width: 100%;
}

.hero figure img {
    
    width: 100%;
}

.hero .text-hero{
    position: absolute;
    top: 50px;
    left: 10px;
    margin: 0 auto;
    width: 80;
    text-align: center;
    color:blue;
    background-color: chartreuse;
    padding: 1em;
}

/*Stiluri ssectiune blog*/
.blog {
    width:100%;
    background-color: rgb(216, 215, 250);
    padding: 1em;
}

.blog article{
    width: 80%;
    margin: 0.8em auto;
    padding: 0.8em;
    border: 1px solid goldenrod;
    border-radius: 10px;
}

/*Stilurile sectiunii coding language*/

.list-coding-languages{
    width: 100%;
    border: 2px solid orangered;
    margin-bottom: 5px;
    padding: 1em;
    border-radius: 5px;
}

.list-coding-languages ul{
    list-style: circle;
}

.coding-languages{
    background-color: black;
    color: orangered;
}

.list-coding-languages{
    width:100%;
    border: 2px solid;
    margin-bottom: 5px;
    padding: 1em;
    border-radius: 5px;
}

.list-coding-languages h3{
    position: sticky;
    top: 155px;
background-color: orangered;
color:black;
padding: 5px;
margin-bottom: 1em;
}

/*Stilu footer ului*/
footer{
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: black;
    color:antiquewhite;
    padding: 2em;
}

